@import "./vars/_color.scss";
@import "./vars/_font.scss";
@import "./vars/_page.scss";
@import "./vars/index.scss";

$header-height: 52px;

.zras-header {
  height: $header-height;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  background-color: $color-white;
  .row {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
  }
  .zras-logo {
    height: 36px;
  }
  .zras-nav {
    @include flexbox;
    li {
      margin: 0 $margin-small;
      a {
        @include flexbox;
        align-items: center;
        padding: 0 $margin-small;
        height: $header-height;
        color: $color-black;
        &.active {
          color: $color-base;
        }
      }
    }
  }
  .zras-language {
    @include flexbox;
    align-items: baseline;
    li {
      margin: 0 10px;
      font-size: $fontSize-small;
      cursor: pointer;
      &.active {
        color: $color-base;
      }
    }
  }
  .logout {
    border-left: $color-base solid 1px;
    padding-left: $margin-small;
    &:hover {
      color: $color-base;
    }
  }
}

.zras-noHeader {
  position: fixed;
  z-index: 9;
  height: 40px;
  width: 100px;
  top: 0;
  right: 0;
  .base,
  .top,
  .link {
    position: absolute;
    @media (max-width: $width-sm) {
      width: 40px;
      height: 40px;
      right: 0;
      top: 0;
    }
  }
  .top,
  .base {
    @media (min-width: $width-sm) {
      opacity: 0;
    }
    @include flexbox;
    align-items: center;
    justify-content: center;
  }
  .base {
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    color: $color-base;
  }
  .top {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background:$color-base;
    color: $color-white;
  }
  .link {
    @media (max-width: $width-sm) {
      opacity: 0;
    }
    @media (min-width: $width-sm) {
      top: 10px;
      right: 20px;
      color: $color-base;
    }
  }
}

.zras-imageWrap {
  @include flexbox;
  @include borderRadius;
  width: 100%;
  background: $color-bg;
  justify-content: center;
  align-items: center;
  .broken {
    width: 60px;
    height: 60px;
    color: $color-base;
  }
}
