@import "./vars/_color.scss";
@import "./vars/_font.scss";
@import "./vars/_page.scss";
@import "./vars/index.scss";

$header-height: 52px;

.zras-header {
  height: $header-height;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  background-color: $color-white;
  .row {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
  }
  .zras-logo {
    height: 36px;
  }
  .zras-nav { 
    @include flexbox; 
    li {
      margin: 0 $margin-small;
      a {
        @include flexbox;
        align-items: center;
        padding: 0 $margin-small;
        height: $header-height;
        color: $color-black;
        &.active {
          color: $color-base;
        }
      }
    }
  }
  .zras-language {
    @include flexbox;
    li {
      margin: 0 10px;
      font-size: $fontSize-small;
      cursor: pointer;
      &.active {
        color: $color-base;
      }
    }
  }
  .logout {
    border-left:$color-base solid 1px;
    padding-left: $margin-small;
    &:hover {
      color: $color-base;
    }
  }
}
 