.zras-header {
  height: 52px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  background-color: #ffffff;
}

.zras-header .row {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  width: 1440px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1440px) and (min-width: 768px) {
  .zras-header .row {
    width: 960px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .zras-header .row {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.zras-header .zras-logo {
  height: 36px;
}

.zras-header .zras-nav {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}

.zras-header .zras-nav li {
  margin: 0 20px;
}

.zras-header .zras-nav li a {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 52px;
  color: #333333;
}

.zras-header .zras-nav li a.active {
  color: #445793;
}

.zras-header .zras-language {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  align-items: baseline;
}

.zras-header .zras-language li {
  margin: 0 10px;
  font-size: 12px;
  cursor: pointer;
}

.zras-header .zras-language li.active {
  color: #445793;
}

.zras-header .logout {
  border-left: #445793 solid 1px;
  padding-left: 20px;
}

.zras-header .logout:hover {
  color: #445793;
}

.zras-noHeader {
  position: fixed;
  z-index: 9;
  height: 40px;
  width: 100px;
  top: 0;
  right: 0;
}

.zras-noHeader .base,
.zras-noHeader .top,
.zras-noHeader .link {
  position: absolute;
}

@media (max-width: 768px) {
  .zras-noHeader .base,
  .zras-noHeader .top,
  .zras-noHeader .link {
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
  }
}

.zras-noHeader .top,
.zras-noHeader .base {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .zras-noHeader .top,
  .zras-noHeader .base {
    opacity: 0;
  }
}

.zras-noHeader .base {
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  color: #445793;
}

.zras-noHeader .top {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background: #445793;
  color: #ffffff;
}

@media (max-width: 768px) {
  .zras-noHeader .link {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .zras-noHeader .link {
    top: 10px;
    right: 20px;
    color: #445793;
  }
}

.zras-imageWrap {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  width: 100%;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
}

.zras-imageWrap .broken {
  width: 60px;
  height: 60px;
  color: #445793;
}
