.zras-ocr {
  padding: 50px 0;
}

.zras-ocr .ocr-condition,
.zras-ocr .ocr-result {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .zras-ocr .ocr-condition,
  .zras-ocr .ocr-result {
    flex-direction: column;
  }
}

.zras-ocr .ocr-condition {
  background: #ffffff;
  padding: 30px;
}

.zras-ocr .ocr-condition .zras-form {
  width: 800px;
}

@media (max-width: 768px) {
  .zras-ocr .ocr-condition .zras-form {
    width: 100%;
  }
}

.zras-ocr .ocr-condition .zras-form .row {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
}

.zras-ocr .ocr-condition .zras-form .row .input-text {
  width: 400px;
}

.zras-ocr .ocr-condition .zras-form .row .input-file {
  position: absolute;
  left: 200px;
  width: 100px;
  opacity: 0;
}

@media (max-width: 768px) {
  .zras-ocr .ocr-condition .zras-form .row .input-file {
    top: 10px;
    left: 0;
  }
}

.zras-ocr .ocr-condition .zras-form .row .select {
  width: 100px;
  margin-right: 30px;
}

.zras-ocr .ocr-condition .zras-form .row .clear {
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 30px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -o-border-radius: 18px;
  -ms-border-radius: 18px;
}

.zras-ocr .ocr-condition .zras-form .input-wrap {
  margin-bottom: 30px;
}

.zras-ocr .ocr-condition .zras-form .input-wrap p {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .zras-ocr .ocr-condition .zras-form .input-wrap p {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .zras-ocr .ocr-condition .zras-form .input-wrap p button {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.zras-ocr .ocr-condition .zras-form .input-wrap p .condition {
  font-size: 13px;
}

@media (max-width: 768px) {
  .zras-ocr .ocr-condition .zras-form .input-wrap p .condition {
    width: 100%;
    flex: 1 0 auto;
  }
}

.zras-ocr .ocr-condition .zras-form .button-wrap {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .zras-ocr .ocr-condition .zras-form .button-wrap {
    flex-direction: column;
  }
}

.zras-ocr .ocr-condition .zras-form .button-wrap .commit {
  width: 100px;
  cursor: not-allowed;
}

.zras-ocr .ocr-condition .zras-form .button-wrap .but-base {
  cursor: pointer;
}

.zras-ocr .ocr-condition .zras-form .error-wrap {
  margin-bottom: 0;
  height: 30px;
}

@media (max-width: 768px) {
  .zras-ocr .ocr-condition .zras-form .error-wrap {
    flex-direction: column;
  }
}

.zras-ocr .ocr-condition .ocr-image {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  width: 520px;
  position: relative;
  flex: 1 0 auto;
  justify-content: center;
}

@media (max-width: 768px) {
  .zras-ocr .ocr-condition .ocr-image {
    width: 100%;
    margin-top: 30px;
  }
}

.zras-ocr .ocr-result {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .zras-ocr .ocr-result .ocr-word {
    margin-bottom: 30px;
  }
}

.zras-ocr .ocr-result .ocr-word,
.zras-ocr .ocr-result .trans-word {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  width: calc(50% - 15px);
  background: #ffffff;
  padding: 20px;
}

@media (max-width: 768px) {
  .zras-ocr .ocr-result .ocr-word,
  .zras-ocr .ocr-result .trans-word {
    width: 100%;
  }
}

.zras-ocr .ocr-result .ocr-word .word-title,
.zras-ocr .ocr-result .trans-word .word-title {
  margin-bottom: 20px;
}
