@charset "UTF-8";
.zras-video {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  padding-top: 30px;
}

.zras-video .remind {
  width: 464px;
  margin-left: 50px;
}

.zras-video .remind p {
  font-size: 13px;
  line-height: 20px;
}

.zras-video .remind p.title {
  font-family: Avenir-Heavy, PingFangSC-Semibold, "Arial Bold", Arial, "Microsoft YaHei Bold", "微软雅黑", sans-serif;
  font-size: 14px;
  margin: 10px 0 5px;
}

.zras-video .remind p a {
  color: #445793;
  cursor: pointer;
  margin-left: 5px;
}

.zras-video .remind pre {
  background: #333333;
  color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  margin: 10px 0;
  overflow-x: auto;
}

.zras-video .upload {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  width: 464px;
  height: 254px;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  position: relative;
}

.zras-video .upload .addimg {
  width: 60px;
}

.zras-video .upload .addinput {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  position: absolute;
  width: 464px;
  height: 254px;
  opacity: 0;
}

.zras-video .tracking {
  width: 464px;
  position: relative;
}

.zras-video .tracking .video {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  background: #ffffff;
  width: 464px;
  height: 254px;
}

.zras-video .tracking .video video {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  width: 464px;
  height: 254px;
}

.zras-video .tracking .canvas {
  position: absolute;
}

.zras-video .tracking .control {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  position: absolute;
  width: 464px;
  height: 254px;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
}

.zras-video .tracking .control img {
  cursor: pointer;
}

.zras-video .tracking .control .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
}

.zras-video .tracking .progress {
  position: relative;
  width: 464px;
  height: 20px;
}

.zras-video .tracking .progress .progress-bg,
.zras-video .tracking .progress .progress-bar {
  position: absolute;
  height: 4px;
  background: #445793;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  top: 8px;
  left: 20px;
  cursor: pointer;
}

.zras-video .tracking .progress .progress-bg {
  width: calc(100% - 40px);
  opacity: 0.5;
}

.zras-video .tracking .progress .slider {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  background: #445793;
  cursor: pointer;
}

.zras-video .tracking .cut-list {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  justify-content: space-around;
  width: 464px;
}

.zras-video .tracking .cut-list li {
  border-radius: 64px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -o-border-radius: 64px;
  -ms-border-radius: 64px;
  width: 64px;
}

.zras-video .tracking .cut-list li img {
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px;
  width: 60px;
  border: transparent solid 2px;
}

.zras-video .tracking .cut-list li.active img {
  border: #445793 solid 2px;
}

.zras-video .tracking .cut-list li.blur {
  filter: grayscale(100%);
}
