$fontFamily-light: Avenir-Light, PingFangSC-Light, Arial, "Microsoft YaHei Light", "微软雅黑", sans-serif;
$fontFamily-medium: Avenir-Medium, PingFangSC-Medium, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
$fontFamily-bold: Avenir-Heavy, PingFangSC-Semibold, "Arial Bold", Arial, "Microsoft YaHei Bold", "微软雅黑", sans-serif;
$fontFamily-regular: Avenir-Book, PingFangSC-Regular, "Arial Regular", Arial, "Microsoft Yahei", "微软雅黑", sans-serif;

$fontSize-title: 80px;
$fontSize-button: 25px;
$fontSize-medium: 20px;
$fontSize-normal: 14px;
$fontSize-small: 12px;
$fontSize-smaller: 10px;