// Windows 平台默认的中文字体：微软雅黑（Microsoft Yahei）
// Windows 平台默认的英文字体：Arial
// Mac & iOS 平台默认的中文字体：苹方（PingFang SC）
// Mac & iOS 平台默认的英文字体：San Francisco
// Android 平台默认字体：Droid Sans

// PingFangSC-Regular, Arial, "Microsoft YaHei",  Tahoma, Helvetica, sans-serif;

// 'Microsoft YaHei Bold'      (微软雅黑blod)
// 'Microsoft YaHei Heavy'     (微软雅黑Heavy)
// 'Microsoft YaHei Light'     (微软雅黑Light)
// 'Microsoft YaHei'           (微软雅黑Regular常规体)
// 'Microsoft YaHei Semibold'  (微软雅黑 SemiBold)
// 'Microsoft YaHei Semilight' (微软雅黑 SemiLight)

// PingFangSC-Regular      苹方-简 常规体
// PingFangSC-Ultralight   苹方-简 极细体
// PingFangSC-Light        苹方-简 细体
// PingFangSC-Thin         苹方-简 纤细体
// PingFangSC-Medium       苹方-简 中黑体
// PingFangSC-Semibold     苹方-简 中粗体

// Avenir-Light
// Avenir-Medium
// Avenir-Heavy
// Avenir-Book

// Arial
// Arial Bold

@mixin fontFamily-Semibold {
  font-family: PingFangSC-Semibold, Arial, "Microsoft YaHei", sans-serif;
  font-weight: bold;
}

$fontFamily-regular: PingFangSC-Regular,  Arial, "Microsoft Yahei", sans-serif;

$fontSize-title: 80px;
$fontSize-button: 25px;
$fontSize-medium: 20px;
$fontSize-normal: 14px;
$fontSize-small: 12px;
$fontSize-smaller: 10px;