$width-1920 : 1920px;
$width-1600 : 1600px;
$width-1440 : 1440px;
$width-1280 : 1280px;
$width-1140 : 1140px;
$width-960 : 960px;
$width-768 : 768px;
$width-640 : 640px;
$width-576 : 576px;
$width-320 :320px;

$margin-50: 50px;
$margin-30: 30px;
$margin-20: 20px;

$width-xs: $width-576;
$width-sm: $width-768;
$width-md: $width-960;
$width-lg: $width-1440;

$margin-large: $margin-50;
$margin-base: $margin-30;
$margin-small: $margin-20;
