// @import "./_color.scss";
// @import "./_font.scss";
// @import "./_page.scss";

@mixin prefix($stylename, $value) {
  #{$stylename}: $value;
  -webkit-#{$stylename}: $value;
  -moz-#{$stylename}: $value;
  -o-#{$stylename}: $value;
  -ms-#{$stylename}: $value;
}

@mixin borderRadius($radius: 10px) {
  @include prefix("border-radius", $radius); 
}

@mixin flexbox {
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex;
}

@mixin pageWidth {
  width: $width-lg;
  margin: 0 auto;
  @media (max-width: $width-lg) and (min-width: $width-md) {
    width: $width-md;
    padding-left: $margin-base;
    padding-right: $margin-base; 
  }
  @media (max-width: $width-md) and (min-width: $width-sm) {
    width: $width-sm;
    padding-left: $margin-base;
    padding-right: $margin-base; 
  }
  @media (max-width: $width-sm) {
    width: 100%;
    padding-left: $margin-small;
    padding-right: $margin-small;
  }
}
